@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --example: #f58912;
    --example-2: #555555;
  
    --primary : rgb(45, 91, 255);
  }
  
  .theme-violet{
    --primary : rgb(76,40,129);
  }
}






/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
